.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    
    -webkit-touch-callout:none;

 }


.click-start-panel {
    width: 100vw;
    height: 100vh;
    background-color: #2cabbc;
}

.click-start-btn {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls-car-ui {
    position: absolute;
    z-index: 999;
    bottom: 0;
    background-color: transparent;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    gap: 0;
    flex-wrap: wrap;
}

.controls-car-ui img {
    padding: 20px;
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    background-color: rgb(23, 23, 23);
}

.controls-car-ui img:hover {
    background-color: rgb(147, 147, 147);
}

.up-arrow {
    transform: rotate(-90deg);
}

.down-arrow {
    transform: rotate(90deg);
}

.left-arrow {
    transform: rotate(180deg);
}

.right-arrow {
    transform: rotate(0deg);
}

